<div class="card">
      <h1>Liste Des Collaborateurs</h1>
    <hr>
    <div class="card-body">
  <div class="right">
    <a class="btn btn-outline-success">
      <i class="icon-add_box"></i> Nouveau</a>
      <hr>
      <input type="text"class="form-control bg-light border-5 small"
      placeholder="Recherche..." aria-label="Search" aria-describedby="basic-addon2">
    </div>
    <hr>
  
    <div class="table-responsive">
        <table class="table table-bordered table-responsive-sm table-responsive-md
   table-responsive-lg">
            <thead>
                <tr>
                    <th scope="col">Id </th>
                    <th scope="col">Matricule </th>
                    <th scope="col">Nom</th>
                    <th scope="col">Prénom </th>
                    <th scope="col">Annee Entrée</th>
                    <th scope="col">Tel</th>
                    <th scope="col">Email</th>
                    <th scope="col">Nationalite</th>
                   
                    
                    <th class="text-center" scope="col">Action</th>
                    
                </tr>
            </thead>
            <tbody>
                <tr >
                    <td>id</td>
                    <td>matricule</td>
                    <td>nom</td>
                    <td>prenom</td>
                    <td>annee</td>
                    <td>telephone</td>
                    <td>email</td>                    
                    <td>code</td>    
                    
  
                    
                </tr>
            </tbody>
        </table>
  
    </div>
  </div>
  </div>
  
  
  
  
  