<app-menu></app-menu>
<mat-toolbar color="primary">
    <h1>{{title}}</h1>
  </mat-toolbar>
  <hr>
<div class="card">
<div class="card-body">
    <div class="right">

        <a class="btn btn-outline-success" >
            <i class="icon-add_box"></i>Ajout</a>
        <hr>

        <input type="text" class="form-control bg-light border-5 small"
            placeholder="Recherche..." aria-label="Search" aria-describedby="basic-addon2">

    </div>

    <hr>




    <div>
        <div class="table-responsive">
            <table class="table table-bordered table-responsive-sm table-responsive-md table-responsive-lg">
                <thead>
                    <tr>
                        <th scope="col">ID</th>
                        <th scope="col">Nom d'équipe</th>
                        
                        <th scope="col">Titre de projet </th>
                        <th class="text-center" colspan="2">Action</th>

                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let item  of equipes">
                        <td>{{item.id_eq}}</td>
                        <td>{{item.nomEquipe}}</td>
                        
                        <td>{{item.projectName}}</td>
                        <td colspan="2">
                            <div class="btn-toolbar ">

                                <button class="btn btn-warning">
                                    <i class="fa fa-pencil-square-o" (click) = update(item.id_eq)  > Modfier</i></button>
                                <div class="espace"></div>
                                <button class="btn btn-danger "  (click) =  delete(item.id_eq)  >
                                    <i class="fa fa-trash-o"> Supprimer</i></button>

                            </div>
                        </td>
                    </tr>

                    
                </tbody>
            </table>
        </div>
    </div>
</div>
</div> <app-footer></app-footer>
