<app-menu></app-menu> 
<div class="card"></div>
<div class="card"> <br>
    <mat-toolbar color="primary">
      <h1>{{title}}</h1>
    </mat-toolbar>
    <hr> </div>
  <div class="container" data-aos="fade-up">


<div class="card">
      <h1>{{title}}</h1>
    <hr>
    <div class="card-body">
    <form  [formGroup]="projectForm" (ngSubmit)="addProject()">
    <input  type="hidden"  class="form-control" formControlName="id">
     
   
    
    
    <div class="form-group">
      <label>Nom du projet</label>
    <input  type="text"  class="form-control" formControlName="name"  id="name">
    </div>
    
    <div class="form-group">
      <label>Date de début</label>
      <input  type="date"  class="form-control" formControlName="datedebut"  id="datedebut">

  </div>
  <div class="form-group">
    <label>Date de fin</label>
    <input  type="date"  class="form-control" formControlName="dateFin"  id="dateFin">

</div>
<div class="form-group">
  <label>Description</label>
  <input  type="text"  class="form-control" formControlName="description"  id="description">

</div>
<div class="form-group">
  <label>Responsable</label>
  <input  type="text"  class="form-control" formControlName="responsable"  id="responsable">

</div>
    
    <table class="table table-borderless">
      <thead class="thead-light">
        <th>Nom du projet</th>
        <th>Date de début</th>
        <th>Date de fin</th>
        <th>Description</th> 
        <th>Responsable</th>            
        
      </thead>
      <tbody>
          <tr >
              <td class="font-italic text-center" colspan="5">
               
              </td>
            </tr>
        <tr>
        <td>
          <a class="btn btn-sm btn-info text-white" >
            <i class="fa fa-pencil-square-o"></i></a>
        <a class="btn btn-sm btn-danger text-white ml-1" >
            <i class="fa fa-trash-o"></i></a>
        </td>
      </tr>
      </tbody>
    </table>
    
    <div class="form-group">
      <button type="submit" class="btn btn-primary"><i class="icon-database" ></i> Valider</button>
      <a class="btn btn-outline-dark ml-1" routerLink="/emplois"><i class="icon-folder-plus">

      </i> Liste </a>
    </div>
    </form>
    </div>
  </div> </div>

<app-footer></app-footer>
  