<app-menu></app-menu> 
<div class="card"></div>
<div class="card"> <br>
    <mat-toolbar color="primary">
      <h1>{{title}}</h1>
    </mat-toolbar>
    <hr> </div>
<div class="card">
        
    <div class="card-body">
        <div class="right">
            <a class="btn btn-outline-success" (click)="addProjet()">
              <i class="icon-add_box"></i>Ajout</a>
              <hr>
              <input type="text" [(ngModel)]="SearchText" class="form-control bg-light border-5 small"
              placeholder="Recherche..." aria-label="Search" aria-describedby="basic-addon2">
            </div>

        <hr>




        <div>
            <div class="table-responsive">
                <table class="table table-bordered table-responsive-sm table-responsive-md
   table-responsive-lg">
                    <thead>
                        <tr>
                            <th scope="col">ID</th>
                            <th scope="col">Nom du projet</th>
                            <th scope="col">Date de début </th>
                            <th scope="col">Date de fin </th>
                            <th scope="col">Description </th>
                            <th scope="col">Responsable</th>
                            
                            <th class="text-center" colspan="2">Action</th>

                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let item of projects ">
                            <td>{{item.idProject}}</td>
                            <td>{{item.name}}</td>
                            <td>{{item.datedebut | date}}</td>
                            <td>{{item.dateFin | date}}</td>
                            <td>{{item.description}}</td>
                            <td>{{item.user ? item.user.fullName : 'No user assigned'}} </td>
                            

                            <td colspan="2" style="text-align: center;">
                                <div class="btn-toolbar ">

                                    <button class="btn btn-warning">
                                        <i class="fa fa-pencil-square-o" (click) = update(item.idProject)  > Modfier</i></button>
                                    <div class="espace"></div>
                                    <button class="btn btn-danger "  (click) =  delete(item.idProject)  >
                                        <i class="fa fa-trash-o"> Supprimer</i></button>

                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<app-footer></app-footer>
