
<script src="assets/assets/vendor/purecounter/purecounter_vanilla.js"></script>
<script src="assetsassets/vendor/aos/aos.js"></script>
<script src="assetsassets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
<script src="assetsassets/vendor/swiper/swiper-bundle.min.js"></script>
<script src="assetsassets/vendor/php-email-form/validate.js"></script>

<body class="header">
    <div class="logo-wrapper">
        <a href="index.html" >
            
        </a>
        </div>
<div class="container-fluid">
<div class="content-wrapper">


<!-- Row start -->
<div class="row gutters">
<!-- Row start -->

    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
        <div class="chat-section">
            <!-- Row start -->
            <div class="row no-gutters">
                <div class="col-xl-3 col-lg-3 col-md-4 col-sm-2 col-3">
                    <div class="users-container">
                        <div class="chat-search-box">
                            <div class="input-group">
                                <input class="form-control" placeholder="Search" />
                                <div class="input-group-btn">
                                    <button type="button" class="btn btn-primary">
                                        <i class="icon-magnifying-glass"></i>
                                    </button>
                                </div>
                            </div>
                        </div>
                        <div class="usersContainerScroll">
                            <ul class="users">
                                <li class="person" data-chat="person4">
                                    <div class="user">
                                        <img src="assets/assets/img/user.png" alt="Wafi Admin" />
                                        <span class="status online"></span>
                                    </div>
                                    <p class="name-time">
                                        <span class="name">Amy Hood</span>
                                        <span class="time">4 hours ago</span>
                                    </p>
                                </li>
                                <li class="person" data-chat="person1">
                                    <div class="user">
                                        <span class="status busy"></span>
                                    </div>
                                    <p class="name-time">
                                        <span class="name">Den Klenkov</span>
                                        <span class="time">1 hours ago</span>
                                    </p>
                                </li>
                               
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-xl-9 col-lg-9 col-md-8 col-sm-10 col-9">
                    <div class="active-user-chatting">
                        <div class="active-user-info">
                            <img src="assets/assets/img/user.png" class="avatar" alt="avatar" />
                            <div class="avatar-info">
                                <h5>Amy Hood</h5>
                                <div class="typing">Typing ...</div>
                            </div>
                        </div>
                        <div class="chat-actions">
                            <a href="#" data-toggle="modal" data-target="#videoCall">
                                <i class="icon-video"></i>
                            </a>
                            <a href="#" data-toggle="modal" data-target="#audioCall">
                                <i class="icon-phone1"></i>
                            </a>
                        </div>

                      

                      
                    </div>
                    <div class="chat-container">
                        <div class="chatContainerScroll">
                            
                        </div>
                        <div class="chat-form">
                            <div class="form-group">
                                <textarea class="form-control" placeholder="Type your message here..."></textarea>
                                <button class="btn btn-primary">
                                    <i class="icon-send"></i>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Row end -->
        </div>
    </div>
</div>
</div>

</div>
</body>
